<div class="card meetings cf">

  <div class="textintro">
    <h1>Meetings</h1>
    <p>Type a meetings and hit click +</p>
   </div>

<form name="meetings" class="formgroup addmeeting cf" ng-submit="addmeetings()" novalidate>
	<div class="inputwrapper">
		<input type="text" ng-model="meetingName" ng-required="true" placeholder="add a meeting" name="meetingName"/>
	</div>
	<button class="btn" type="submit" ng-disabled="meetings.$invalid">+</button>
	
</form>

<div class="meetings" ng-repeat="(key,meeting) in meetings">
	<button class="btn btn-delete tooltip" ng-click="deleteMeeting(key)">
		<span> Delete this meeting</span>
	</button>
	<a href="#/checkins/{{currentUser.regUser}}/{{meeting.$id}}" class="btn btn-checkin tooltip">
		<span>Go to check-in URL</span>
	</a>
	<a href="#/checkins/{{currentUser.regUser}}/{{meeting.$id}}/checkinList" class="btn btn-list tooltip">
		<span>See the latest checkins</span>
	</a>
	<span class="text">{{meeting.name}}</span>
</div>

</div><!-- meetings cf -->
